<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-wide">
  <thead>
    <tr>
      <!-- <th><%# model_class.human_attribute_name(:id) %></th> -->
      <th data-sort="string"><%= model_class.human_attribute_name(:name) %></th>
      <th data-sort="string"><%= model_class.human_attribute_name(:website) %></th>
      <th data-sort="string"><%= model_class.human_attribute_name(:crunchbase_url) %></th>
      <th data-sort="string"><%= model_class.human_attribute_name(:linkedin_url) %></th>
      <th data-sort="string"><%= model_class.human_attribute_name(:glassdoor_url) %></th>
      <th data-sort="string"><%= "Twitter Account" %></th>
      <th data-sort="string"><%= "# of Employees" %></th>
      <th data-sort="string"><%= model_class.human_attribute_name(:founded_year) %></th>
      <!-- <th><%# model_class.human_attribute_name(:overview) %></th> -->
      <!-- <th><%# model_class.human_attribute_name(:created_at) %></th> -->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <!-- <td><%# link_to company.id, company_path(company) %></td> -->
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.website %></td>
        <td><%= company.crunchbase_url %></td>
        <td><%= company.linkedin_url %></td>
        <td><%= company.glassdoor_url %></td>
        <td><%= company.twitter_username %></td>
        <td><%= company.number_of_employees %></td>
        <td><%= company.founded_year %></td>
        <!-- <td><%# company.overview %></td> -->
        <!-- <td><%#l company.created_at %></td> -->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_company_path(company), :class => 'btn btn-mini inline' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      company_path(company),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini inline btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_company_path,
            :class => 'btn btn-primary' %>
