<%- model_class = Company -%>
<div class="page-header">
  <h3><%=t '.title', :default => @company.name %></h3>
</div>

<table class="table table-show">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:website) %>:</strong></td>
    <td><%= auto_link(@company.website, :all, :target => "_blank") %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:crunchbase_url) %>:</strong></td>
    <td><%= auto_link(@company.crunchbase_url, :all, :target => "_blank") %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:linkedin_url) %>:</strong></td>
    <td><%= auto_link(@company.linkedin_url, :all, :target => "_blank") %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:glassdoor_url) %>:</strong></td>
    <td><%= auto_link(@company.glassdoor_url, :all, :target => "_blank") %></td>
  </tr>

  <tr>
    <td><strong><%= "Twitter Account" %>:</strong></td>
    <td><%= link_to "@#{@company.twitter_username}", "http://www.twitter.com/#{@company.twitter_username}", :target => "_blank" unless @company.twitter_username.blank? %></td>
  </tr>

  <tr>
    <td><strong><%= "# of Employees" %>:</strong></td>
    <td><%= @company.number_of_employees %></td>
  </tr>

  <tr>
    <td><strong><%= "# of LinkedIn Followers" %>:</strong></td>
    <td><%= @company.num_followers %></td>
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:founded_year) %>:</strong></td>
    <td><%= @company.founded_year %></td>
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:total_money_raised) %>:</strong></td>
    <td><%= "$#{@company.total_money_raised.to_f / 1e6}M" if @company.total_money_raised.to_f > 0 %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:funding_rounds) %>:</strong></td>
    <td><%= simple_format @company.funding_rounds %></td>
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:industries) %>:</strong></td>
    <td>
      <ul>
      <% if !@company.industries.nil? && !@company.industries[1..-2].nil? %>
        <% industries = @company.industries[1..-2].split(",").map {|e| e[1..-2]} %>
        <% industries.each do |industry| %>
          <li><%= industry %></li>
        <% end %>
      <% end %>
      </ul>
    </td>
  </tr>
  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:description) %>:</strong></td>
    <td><%= @company.description %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:overview) %>:</strong></td>
    <td><%= simple_format @company.overview %></td>
  </tr>

  <tr>
    <td><strong><%= "Notes" %>:</strong></td>
    <td><%= simple_format @company.notes %></td>
  </tr>
</table>

<div id="employees">
  <hr>
  <h4>Employees at Fair:</h4>
  <ul>
  <% @company.employees.each do |employee| %>
    <li><%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %></li>
  <% end %>
  </ul>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              companies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_path(@company), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              company_path(@company),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
    <br><br>
  <%= link_to t('.crunchbase', :default => t("helpers.links.crunchbase")),
              company_crunchbase_path(@company), :class => 'btn btn-info' %>
  <%= link_to t('.linkedin', :default => t("helpers.links.linkedin")),
              company_linkedin_path(@company), :class => 'btn btn-info' %>
  <%= link_to t('.glassdoor', :default => t("helpers.links.glassdoor")),
              company_glassdoor_path(@company), :class => 'btn btn-info' %>
</div>
