<%- model_class = Company -%>
<div class="page-header">
  <h3><%=t '.title', :default => "#{@company.name} - Crunchbase" %></h3>
</div>

<%# @crunchbase_company.methods - Object.methods %>

<% attributes = {} %>
<% funding_round_text = "" %>

<table class="table">
  <% if @crunchbase_company.respond_to?("twitter_username") %>
  <% attributes[:twitter_username] = @crunchbase_company.twitter_username %>
  <tr>
    <td><strong>Twitter</strong></td>
    <td><%= link_to "@#{attributes[:twitter_username]}", "http://www.twitter.com/#{attributes[:twitter_username]}" %></td>
  </tr>
  <% end %>
  
  <% crunchbase_attributes.each do |attribute| %>
    <% if @crunchbase_company.respond_to?(attribute.to_s) && @crunchbase_company.send(attribute.to_s) %>
      <% attributes[attribute] = @crunchbase_company.send(attribute.to_s) %>
      <tr>
        <td><strong><%= model_class.human_attribute_name(attribute) %>:</strong></td>
        <td>
          <% if attributes[attribute].is_a? String %>
            <%= auto_link(attributes[attribute], :all, :target => "_blank") %>
          <% else %>
            <%= attributes[attribute] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  
  <% if @crunchbase_company.respond_to?("funding_rounds") %>
  <tr>
    <td><strong>Funding Rounds</strong></td>
    <td>
      <%# @crunchbase_company.funding_rounds %>
      <% @crunchbase_company.funding_rounds.each do |round| %>
        <p>
          <% round_name = round['round_code'] == "seed"  ?  round['round_code'].capitalize  :  "Series " + round['round_code'].capitalize %>
          <% amount = round["raised_amount"].to_i >= 1e6  ?  "#{round["raised_amount"].to_i / 1e6}M"  :  "#{round["raised_amount"].to_i / 1e3}K" %>
          <% round_overview = link_to "#{round_name}, #{round['funded_month']}/#{round['funded_year']} ", round['source_url'], target: "_blank" %>
          <% funding_round_text += round_overview + "\n" %>
          <strong><%= round_overview %></strong><br>
          <strong><%= amount %> <%= round["raised_currency_code"] %></strong>
          <ul>
          <% round["investments"].each do |investment| %>
            <li>
              <% if investment["company"] %>
                <% name = investment["company"]["name"] %>
              <% elsif investment["financial_org"] %>
                <% name = investment["financial_org"]["name"] %>
              <% elsif investment["person"] %>
                <% name = "#{investment["person"]["first_name"]} #{investment["person"]["last_name"]}" %>
              <% end %>
              <%= link_to name, "http://www.google.com/search?q=#{name.gsub(' ','+')}" %>
            </li>
          <% end %>
          </ul>
        </p>
      <% end %>
    </td>
  </tr>
  <% end %>
  
  <% if @crunchbase_company.respond_to?("overview") %>
  <% attributes[:overview] = @crunchbase_company.overview %>
  <tr>
    <td><strong>Overview</strong></td>
    <td><%= simple_format attributes[:overview] %></td>
  </tr>
  <% end %>
<table>


<%= simple_form_for @company, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name                 , as: :hidden   %>
  <%= f.input :website              , as: :hidden, input_html: {value: attributes[:homepage_url]} %>
  <%= f.input :crunchbase_url       , as: :hidden, input_html: {value: attributes[:crunchbase_url]} %>
  <%= f.input :linkedin_url         , as: :hidden   %>
  <%= f.input :glassdoor_url        , as: :hidden   %>
  <%= f.input :twitter_username     , as: :hidden, input_html: {value: attributes[:twitter_username]} %>
  <%= f.input :number_of_employees  , as: :hidden, input_html: {value: attributes[:number_of_employees]} %>
  <%= f.input :founded_year         , as: :hidden, input_html: {value: attributes[:founded_year]} %>
  <%= f.input :total_money_raised   , as: :hidden, input_html: {value: attributes[:total_money_raised]} %>
  <%= f.input :funding_rounds       , as: :hidden, input_html: {value: funding_round_text} %>
  <%= f.input :description          , as: :hidden, input_html: {value: attributes[:description]} %>
  <%= f.input :overview             , as: :hidden, input_html: {value: attributes[:overview]} %>
  <div class="form-actions">
    <%= f.button :submit, "Update with Crunchbase Info", :class => 'btn-primary' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_company_path(@company), :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @company, :class => 'btn' %>
  </div>
<% end %>

